<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tab-button href="/tabs/tab4" class="left-tab">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-tab-button>

    <ion-title>Themes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Themes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" id="b1"></ion-button>
  <ion-button expand="block" id="b2"></ion-button>
  <ion-button expand="block" id="b3"></ion-button>
  <ion-button expand="block" id="b4"></ion-button>
  <ion-button expand="block" id="b5"></ion-button>
  <ion-button expand="block" id="b6"></ion-button>
  <ion-button expand="block" id="b7"></ion-button>
  <ion-button expand="block" id="b8"></ion-button>
</ion-content>
