ion-header ion-toolbar {
  --background: #01a940;
}

ion-content {
  --background: #ffffff;
}

ion-tab-button.left-tab {
  position: absolute;
  left: 5px;
  top: 2px;
}

ion-title {
  text-align: center;
}
