<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bin's Details </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bin's Details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-accordion-group expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-label>First Bin's Code</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Location Information</div>
      <div class="ion-padding" slot="content">Current Fill Levels</div>
      <div class="ion-padding" slot="content">Bin Type and Size</div>
      <div class="ion-padding" slot="content">Last Emptied Information</div>
      <div class="ion-padding" slot="content">Notes Section</div>
    </ion-accordion>

    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-label>Second Bin's Code</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Location Information</div>
      <div class="ion-padding" slot="content">Current Fill Levels</div>
      <div class="ion-padding" slot="content">Bin Type and Size</div>
      <div class="ion-padding" slot="content">Last Emptied Information</div>
      <div class="ion-padding" slot="content">Notes Section</div>
    </ion-accordion>

    <ion-accordion value="third">
      <ion-item slot="header">
        <ion-label>Third Bin's Code</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Location Information</div>
      <div class="ion-padding" slot="content">Current Fill Levels</div>
      <div class="ion-padding" slot="content">Bin Type and Size</div>
      <div class="ion-padding" slot="content">Last Emptied Information</div>
      <div class="ion-padding" slot="content">Notes Section</div>
    </ion-accordion>

    <ion-accordion value="fourth">
      <ion-item slot="header">
        <ion-label>Fourth Bin's Code</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Location Information</div>
      <div class="ion-padding" slot="content">Current Fill Levels</div>
      <div class="ion-padding" slot="content">Bin Type and Size</div>
      <div class="ion-padding" slot="content">Last Emptied Information</div>
      <div class="ion-padding" slot="content">Notes Section</div>
    </ion-accordion>

    <ion-accordion value="fifth">
      <ion-item slot="header">
        <ion-label>Fifth Bin's Code</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Location Information</div>
      <div class="ion-padding" slot="content">Current Fill Levels</div>
      <div class="ion-padding" slot="content">Bin Type and Size</div>
      <div class="ion-padding" slot="content">Last Emptied Information</div>
      <div class="ion-padding" slot="content">Notes Section</div>
    </ion-accordion>

    <ion-accordion value="sixth">
      <ion-item slot="header">
        <ion-label>Sixth Bin's Code</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Location Information</div>
      <div class="ion-padding" slot="content">Current Fill Levels</div>
      <div class="ion-padding" slot="content">Bin Type and Size</div>
      <div class="ion-padding" slot="content">Last Emptied Information</div>
      <div class="ion-padding" slot="content">Notes Section</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
